.Mainbar
  .Mainbar__groupBar
    .groupInfo
      %p.groupInfo__groupName test
      %p.groupInfo__groupMember Member：shuanno
    = link_to 'Edit', '#', class: 'editBtn'
  .Mainbar__chat
    - 3.times do
      .chatBox
        .chatBox__userBox
          .chatBox__userBox__name
            shuanno &nbsp;
          .chatBox__userBox__date
            2020/06/19(Fri) 15:00:00
        .chatBox__messageBox
          おはよう    
  .Mainbar__message-form
    = form_with url: '#' do |form|
      .form
        .form__input 
          = form.text_field :content, placeholder: 'type a message', class: 'form__input__text'
          %label{class: "form__input__icon"}
            = icon('far', 'image')
            %input{type: "file", style: "display:none;"}
        = form.submit 'Send', class: 'form__btn'