.Mainbar
  .Mainbar__groupBar
    .groupInfo
      .groupInfo__groupName 
        = @group.title
      .groupInfo__groupMember 
        Member：
        - @group.users.each do |user|
          = user.name
    = link_to 'Edit', edit_group_path(@group), class: 'editBtn'
  .Mainbar__chat
    = render partial: 'message', collection: @messages
  .Mainbar__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
      .form
        .form__input 
          = form.text_field :text, placeholder: 'type a message', class: 'form__input__text'
          = form.label :image, class: 'form__input__icon' do
            = icon('far', 'image')
            = form.file_field :image, class: 'Hidden'
        = form.submit 'Send', class: 'form__btn'